<p id="notice"><%= notice %></p>

<p>
  <strong>Cellphone:</strong>
  <%= @administrative.cellphone %>
</p>

<%= link_to 'Edit', edit_administrative_path(@administrative) %> |
<%= link_to 'Back', administratives_path %>
