<p id="notice"><%= notice %></p>

<p>
  <strong>Cellphone:</strong>
  <%= @coordinator.cellphone %>
</p>

<%= link_to 'Edit', edit_coordinator_path(@coordinator) %> |
<%= link_to 'Back', coordinators_path %>
