.date-field {
  label {
    display: block;
  }

  select {
    @extend .form-control;
    display: inline-block;
    width: 19%;
  }
}

.navbar-nav > li {
  padding: 1.5rem;
}

.nav-item {
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.navbar-brand {
  color: white;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.navbar {
  border-radius: 0;
}
