.qr-code {
  border: solid 0.1rem #CBCFD5;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  max-width: 21rem;
  padding: 0.8rem;

  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    margin: 2rem auto;
  }

  td {
    border-left: solid 0.2rem #000;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0.2rem;
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }

  h4 { text-align: center;}
}